<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LDF Admin</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    </head>
    <body>
        <div id="li-list">
            <h1>LDF Admin</h1>
            <input type="radio" id="email" value="email" v-model="picked">
            <label for="email">Email</label>
            <input type="radio" id="phoneNumber" value="phone_number" v-model="picked">
            <label for="phoneNumber">Phone number</label>
            <input v-model="newItem" type="text" placeholder="Add email or phone number" class="form-control">
            <input v-model="date" type="text" placeholder="2020-12-20T12:12:23Z" class="form-control">
            <button class="btn btn-primary" @click="saveItem">Add</button>
            <button class="btn btn-primary" @click="getHistory">Get history</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Callback Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="item in items">
                        <tr>
                            <td>{{ item.id  }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.value }}</td>
                            <td>{{ item.callback_id }}</td>
                            <td><button class="btn btn-danger" @click="removeItem(item)">Remove</button></td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            new Vue({
                el: '#li-list',
                newItem: '',
                date: '',
                data: {
                    items: [],
                    picked: null
                },
                mounted () {
                    axios
                        .get('http://localhost:8095/li')
                        .then(response => (this.items = response.data))

                },
                methods: {
                    saveItem: function() {
                        item = {value: this.newItem,
                                type: this.picked};
                        axios
                            .post('http://localhost:8095/li', item)
                            .then(response => (this.items.push = response.data) );
                        this.newItem = '';
                        window.location.reload();
                    },
                    removeItem: function(item) {
                        axios
                            .delete('http://localhost:8095/li/' + item.callback_id);

                        window.location.reload();
                    },
                    getHistory: function() {
                        var dateObj = new Date(this.date);
                        var timestamp = Date.parse(dateObj);
                        item = {value: this.newItem,
                                type: this.picked,
                                timestamp: timestamp};
                        axios
                            .post('http://localhost:8095/history', item);
                    }
                }
            });
        </script>
    </body>
</html>