<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LDF Reciever</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <script src="/assets/js/jquery-3.5.1.slim.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div id="li-list">
            <h1>LDF History</h1>
            Write in what messages you want to get, then got to www/receiver to see them.
       <input type="radio" id="email" value="email" v-model="picked">
            <label for="email">Email</label>
            <input type="radio" id="phoneNumber" value="phone_number" v-model="picked">
            <label for="phoneNumber">Phone number</label>
            <input v-model="newItem" type="text" placeholder="Add email or phone number" class="form-control">
            <input v-model="date" type="text" placeholder="2020-12-20T12:12:23Z" class="form-control">
            <button class="btn btn-primary" @click="getHistory">Get history</button>
        </div>
        <script src="/assets/js/vue.js"></script>
        <script src="/assets/js/axios.min.js"></script>
        <script>
            new Vue({
                el: '#li-list',
                newItem: '',
                data: {
                    items: [],
                    picked: null
                },
                mounted () {
                    axios
                        .get('http://localhost:8095/history')
                        .then(response => (this.items = response.data))

                },
                methods: {
                    getHistory: function() {
                        var dateObj = new Date(this.date);
                        var timestamp = Date.parse(dateObj);
                        item = {value: this.newItem,
                                type: this.picked,
                                timestamp: timestamp};
                        axios
                            .post('http://localhost:8095/history', item);
                    }
                }
            });
        </script>
    </body>
</html>