[
    {elvis, [
        {config, [
            #{
                dirs => ["src/**"],
                filter => "*.erl",
                   ignore => [etsi103120, etsi103707],
                rules => [
                    {elvis_text_style, line_length, #{limit => 120}},
                    {elvis_style, dont_repeat_yourself, disable}
                ],
                ruleset => erl_files
            }
        ]}
    ]}
].
