%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.
{src_dirs, ["src", "src/controllers"]}.
{shell, [{config, "./config/sys.docker.config"}]}.

{erlydtl_opts, [{doc_root, "src/views"},
                {recursive, true},
                {libraries, [
                             {nova_erlydtl_inventory, nova_erlydtl_inventory}
                            ]},
                {default_libraries, [nova_erlydtl_inventory]}
               ]}.

{deps, [
        {pgo, ".*", {git, "https://github.com/erleans/pgo.git", {ref, "6bbd5478ac08ae184cdd8f2331ff81fd94b66610"}}},
        {nova, ".*", {git, "https://github.com/novaframework/nova.git", {ref, "f3e2fb52a5cbc07f986583f48222cc6c8be9b5c8"}}}
       ]}.


%% Release profiles
%% To create a release just run
%% rebar3 release -n ldf-prod
{relx, [{release, {ldf, "0.1.0"},
         [ldf],
         [{dev_mode, false},
          {include_erts, true},
          {extended_start_script, true}]}
       ]}.


%% Plugins for rebar3
{plugins, [
           rebar3_auto,
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.

{provider_hooks, [
                  {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
{xref_checks,[
       undefined_function_calls,
       undefined_functions,
       locals_not_used,
       deprecated_function_calls,
       deprecated_functions
      ]}.

{profiles, [
       {lint,  [
                {plugins, [
                           {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.11"}}}
                          ]}
               ]}
      ]}.

{elvis,
 [#{dirs => ["src"],
    filter => "*.erl",
    ignore => [etsi103120],
    rules => [{elvis_style, line_length,
               #{ignore => [],
                 limit => 120,
                 skip_comments => false}},
              {elvis_style, no_tabs},
              {elvis_style, no_trailing_whitespace},
              {elvis_style, macro_names, #{ignore => []}},
              {elvis_style, macro_module_names},
              {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                         {right, "++"},
                                                         {left, "++"}]}},
              {elvis_style, nesting_level, #{level => 3}},
              {elvis_style, god_modules,
               #{limit => 25,
                 ignore => []}},
              {elvis_style, no_if_expression},
              {elvis_style, used_ignored_variable},
              {elvis_style, no_behavior_info},
              {
               elvis_style,
               module_naming_convention,
               #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                 ignore => []}
              },
              {
               elvis_style,
               function_naming_convention,
               #{regex => "^([a-z][a-z0-9]*_?)*$"}
              },
              {elvis_style, state_record_and_type},
              {elvis_style, no_spec_with_records},
              {elvis_style, dont_repeat_yourself, #{min_complexity => 10}},
              {elvis_style, no_debug_call, #{ignore => []}}
             ]
   },
  #{dirs => ["."],
    filter => "rebar.config",
    rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}},
              {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
   }
 ]
}.